<form #userForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="name">Имя:</label>
    <input class="form-control" id="name" type="text" name="name" 
    required minlength="4" maxlength="10" [(ngModel)]="model.name" placeholder="Имя">
    <div class="alert alert-danger"
         *ngIf="formErrors.name">{{formErrors.name}}</div>
  </div>
  <div class="mb-3">
    <label for="age">Возраст:</label>
    <input class="form-control" id="age" type="text" name="age" 
    required [(ngModel)]="model.age" placeholder="Возраст">
    <div class="alert alert-danger"
         *ngIf="formErrors.age">{{formErrors.age}}</div>
  </div>
  <div class="mb-3">
    <label for="role">Роль:</label>
    <select name="role" id="role" class="form-select" required [(ngModel)]="model.role">
      <option value="" selected disabled>Выберите роль</option>
      <option *ngFor="let role of roles" [value]="role">{{role}}</option>
    </select>
  </div>

  <div class="mb-3">
    <button class="btn btn-info" [disabled]="userForm.form.invalid">Сохранить</button>
  </div>
</form>