<app-spoiler-item header= "Angular">
  <p>Angular — открытая и свободная платформа для разработки веб-приложений, написанная на языке TypeScript,</p> 
  <p>разрабатываемая командой из компании Google, а также сообществом разработчиков из различных компаний.</p> 
  <p>Angular — полностью переписанный фреймворк от той же команды, которая написала AngularJS</p>
</app-spoiler-item>

<app-spoiler-item header="React">
  <p>React разрабатывается и поддерживается Facebook, Instagram и сообществом отдельных </p> 
  <p>разработчиков и корпораций. React может использоваться для разработки одностраничных и мобильных приложений.</p> 
</app-spoiler-item>

<app-spoiler-item header="Vue">
  <p>Vue.js — JavaScript-фреймворк с открытым исходным кодом для создания пользовательских интерфейсов.</p>
  <p>Легко интегрируется в проекты с использованием других JavaScript-библиотек.</p>
  <p>Может функционировать как веб-фреймворк для разработки одностраничных приложений в реактивном стиле.</p>
</app-spoiler-item>