.fa-play-circle,
.fa-pause-circle {
  color: rgba(255, 255, 255, 0.4);

  font-size: 40vh;
}

.fa-angle-left,
.fa-angle-right {
  color: rgba(255, 255, 255, 0.4);

  font-size: 40px;
}

html {
  overflow: hidden;
}
