.text-muted {
  margin-top: 0.25rem;
  font-size: 0.875em;
  position: relative;
}

.loading {
  height: 30px;
  position: absolute;
  right: 0;
  transform: translateX(-25%) translateY(calc(-100% - 8px));
}