.left-sidebar, .main, header {
  margin-bottom: 80px;
}

.header-logo__description, .header-logo__title {
  text-shadow: 0 0 5px black, 0 0 10px black, 0 0 20px black;
}

.navbar-inverse {
  margin-bottom: 0;
  background-color: #191919;
}
.navbar-inverse .navbar-nav > li > a {
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
  background-color: #165690;
}
.navbar-inverse .navbar-nav .active > a {
  background-color: #053159;
}
.navbar-inverse .navbar-nav .active > a:focus, .navbar-inverse .navbar-nav .active > a:hover {
  background-color: #517ba2;
}

.navbar-header {
  text-align: center;
}

.navbar-toggle {
  float: none;
  margin-right: 0;
}

.panel-info {
  margin-bottom: 30px;
  border: none;
  background-color: #f4f4f4;
}
.panel > .panel-heading {
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  color: #fff;
  border: none;
  background-color: #df8a13;
}

.panel-body {
  border: 1px solid #d5d5d5;
  border-radius: 0 0 4px 4px;
}

.input-lg, .input-group-lg > .form-control {
  font-size: 0.875rem;
}

html {
  font-size: 16px;
  overflow-y: scroll;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
}

a {
  color: #165690;
}
a:hover, a:focus {
  text-decoration: none;
  color: #df8a13;
}

h1 {
  font-family: "PT Serif", serif;
  margin-top: -6px;
}

.header-logo {
  padding: 100px 0;
  text-align: center;
  background-color: #232323;
  background-image: url(../img/header-bg.jpg);
  background-position: center;
  background-size: cover;
}
.header-logo__title {
  font-family: "PT Serif", serif;
  font-size: 3.5rem;
  display: block;
  margin-right: -0.33em;
  letter-spacing: 0.33em;
  color: #df8a13;
}
.header-logo__description {
  font-size: 1.15rem;
  display: block;
  letter-spacing: 0.2em;
  color: #fff;
}

.main .site-search {
  margin-bottom: 45px;
}
.main .user-login {
  margin-bottom: 60px;
}

.new-films-row {
  margin-right: -15px/2;
  margin-left: -15px/2;
  margin-bottom: -15px;
}
.new-films-title::after {
  position: absolute;
  width: 100%;
  margin: 0.85em 0 0 15px;
  content: "";
  border-bottom: 3px solid #df8a13;
}
.new-films-item {
  padding-right: 15px/2;
  padding-left: 15px/2;
  margin-bottom: 15px;
}
.new-films-item__title {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}
.new-films-item__caption {
  text-align: center;
}
.new-films-item__thumbnail {
  margin-bottom: 0;
}
.new-films-item__thumbnail:hover {
  background-color: #f0ad4f;
}
.new-films-item__thumbnail:hover h3 {
  color: #fff;
}

section {
  position: relative;
  overflow: hidden;
}

.left-sidebar .panel:last-of-type {
  margin-bottom: 0;
}

.vertical-slider {
  overflow: hidden;
  border-radius: 4px;
}
.vertical-slider img {
  width: 100%;
}

.user-login {
  position: relative;
}
.user-login__tabs {
  position: absolute;
  top: 0;
  right: 10px;
  border: none;
}
.user-login__tabs a {
  padding: 14px 5px 11px !important;
  color: #d5d5d5;
  border: none !important;
  background-color: transparent !important;
}
.user-login__tabs .active a {
  color: #fff !important;
}

.site-news-item {
  position: relative;
  clear: both;
}
.site-news-item:not(:last-of-type) {
  min-height: 85px;
  margin-bottom: 15px;
}
.site-news-item::after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: calc(100% - 85px);
  height: 1px;
  content: "";
  background-color: #d5d5d5;
}
.site-news-item__image {
  float: left;
  width: 75px;
  margin: 0 10px 10px 0;
}
.site-news-item__image img {
  width: 100%;
}
.site-news-item__title {
  margin-bottom: 10px;
}
.site-news-item__title a {
  font-size: 1rem;
  line-height: 1.5rem;
  display: -webkit-box;
  overflow: hidden;
  height: 50px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.site-news-item__date {
  font-size: 0.8rem;
  text-align: right;
  color: #6f6f6f;
}

.top-films__body {
  padding-right: 0;
  padding-left: 0;
}
.top-films__list {
  margin-bottom: 0;
}
.top-films__item {
  margin-right: -1px;
  margin-left: -1px;
  color: #165690 !important;
  background-color: transparent;
}
.top-films__item:first-child {
  border-top: none;
  border-radius: 0;
}
.top-films__item:last-child {
  border-bottom: none;
  border-radius: 0;
}
.top-films__item:hover, .top-films__item:focus {
  color: #fff !important;
  border-color: #df8a13;
  background-color: #df8a13 !important;
}
.top-films__item:hover .badge, .top-films__item:focus .badge {
  background-color: #232323;
}
.top-films__badge {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (min-width: 576px) {
  .header-logo__title {
    font-size: 3.5rem;
  }
  .new-films-title {
    font-size: 3rem;
  }
}
@media (min-width: 768px) {
  .navbar-inverse .navbar-nav > li > a {
    border-radius: 4px;
  }
  .navbar-left > li {
    margin: 5px 5px 5px 0;
  }
  .navbar-right > li {
    margin: 5px 0 5px 5px;
  }
}
@media (max-width: 767.8px) {
  .navbar-inverse .navbar-nav > li > a {
    text-align: center;
  }
  .navbar-left {
    margin-bottom: 0;
  }
  .navbar-right {
    margin-top: 0;
  }
}
@media (max-width: 575.8px) {
  .header-logo__title {
    font-size: 2.5rem;
  }
}