header {
  margin-bottom: 80px;
}

.navbar {
  margin-bottom: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
}

a {
  color: #165690;
}
a:hover, a:focus {
  text-decoration: none;
  color: #df8a13;
}

.header-logo {
  padding: 100px 0;
  text-align: center;
}
.header-logo__title {
  display: block;
  color: #df8a13;
}
.header-logo__description {
  display: block;
  color: #ffffff;
}