html
{
    font-size: $font-size;

    overflow-y: scroll;
}

body
{
    font-family: $font-main;
    font-size: $font-size;
}

a
{
    color: $color-primary;
    &:hover,
    &:focus
    {
        text-decoration: none;

        color: $color-accent;
    }
}

h1
{
    font-family: $font-header;

    margin-top: -6px;
}

h2
{
    font-family: $font-header;
}
