.main
{
    @extend %margin-bottom-lg;

    .site-search
    {
        margin-bottom: $gap * 3;
    }
    .user-login
    {
        margin-bottom: $gap * 4;
    }
}

.new-films
{
    &-row
    {
        margin-right: -7.5px;
        margin-bottom: -15px;
        margin-left: -7.5px;
    }
    &-title
    {
        @include xs-min
        {
            font-size: 3rem;

            margin: -9.99999999px 0 1em 0;
        }
        @include xs
        {
            font-size: 2rem;

            margin: 0 0 1em;
        }
        &::after
        {
            position: absolute;

            width: 100%;
            margin: .85em 0 0 $gap;

            content: '';

            border-bottom: 3px solid $color-accent-light;
        }
    }
    &-item
    {
        margin-bottom: 15px;
        padding-right: 7.5px;
        padding-left: 7.5px;
        &__title
        {
            font-size: 1rem;
            font-weight: bold;

            margin: 0;

            @include text-shortener;
        }
        &__caption
        {
            text-align: center;
        }
        &__thumbnail
        {
            margin-bottom: 0;
            &:hover
            {
                background-color: $color-accent-light;
            }
            &:hover h3
            {
                color: $color-white;
            }
        }
        &__image
        {
            width: 100%;
        }
    }
}

.top-films-week
{
    &-row
    {
        margin-right: -7.5px;
        margin-bottom: -15px;
        margin-left: -7.5px;
    }

    &-title
    {
        @include xs-min
        {
            font-size: 2.5rem;

            margin: 60px 0 45px 45px;
        }
        @include xs
        {
            font-size: 1.75rem;

            margin: 45px 0 30px 45px;
        }
        &::before
        {
            position: absolute;
            left: 0;

            width: 30px;
            margin: .25em 0 0 0;

            content: '';

            border-bottom: 3px solid $color-accent-light;
        }
        &::after
        {
            position: absolute;

            width: 100%;
            margin: .85em 0 0 $gap;

            content: '';

            border-bottom: 3px solid $color-accent-light;
        }
    }
    &-item
    {
        margin-bottom: 15px;
        padding-right: 7.5px;
        padding-left: 7.5px;

        &__title
        {
            font-size: 1rem;
            font-weight: bold;

            margin: 0;

            @include text-shortener;
        }
        &__caption
        {
            text-align: center;
        }
        &__thumbnail
        {
            margin-bottom: 0;
            &:hover
            {
                background-color: $color-accent-light;
            }
            &:hover h3
            {
                color: $color-white;
            }
        }
        &__image
        {
            width: 100%;
        }
    }
}

.movie-news
{
    &-title
    {
        @include xs-min
        {
            font-size: 2.5rem;

            margin: 60px 0 45px 45px;
        }
        @include xs
        {
            font-size: 1.75rem;

            margin: 45px 0 30px 45px;
        }
        &::before
        {
            position: absolute;
            left: 0;

            width: 30px;
            margin: .25em 0 0 0;

            content: '';

            border-bottom: 3px solid $color-accent-light;
        }
        &::after
        {
            position: absolute;

            width: 100%;
            margin: .85em 0 0 $gap;

            content: '';

            border-bottom: 3px solid $color-accent-light;
        }
    }
    &-item
    {
        @include xs
        {
            h3
            {
                font-size: 1.25rem;
            }
        }
            &:hover
            {
                h3 > a
                {
                    color: $color-accent;
                }
                .thumbnail
                {
                    border-color: $color-accent;
                    background-color: $color-accent;
                }
                .movie-news-item__btn
                {
                    background-color: $color-accent;
                }
            }
        
        &__btn
        {
            float: right;

            margin-bottom: $gap * 2;

            transition: background-color .25s;
        }
        &__content
        {
            text-align: justify;
        }
        &__thumbnail
        {
            margin-bottom: 0;

            transition: background-color .25s;
        }
    }
}


section
{
    position: relative;

    overflow: hidden;
}
